<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Engine</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div id="container">
        <div>
            <h1>Stay Finder</h1>
            <h3>Find the perfect stay for you</h3>
        </div>
        <div>
            <form action="/" method="POST">
                <input type="text" name="query" placeholder="Enter your query" required>
                <input type="submit" value="Search">
            </form>
        </div>
    </div>
</body>

</html>